.app {
  width: 100%;
  height: 100%;
  background-color: black;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.loadingContainer {
  @extend .background;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  background-color: black;

  &.hide {
    display: none;
  }
}

.videoStart {
  @extend .background;
  object-fit: cover;

  &.hide {
    display: none;
  }
}

.videoMain {
  @extend .videoStart;
  z-index: 0;
}
